# ignore all terraform directories (include hidden) and files
terraform*
.terraform*
*.hcl

# ignore .tfstate files
*.tfstate
*.tfstate.*

# ignore infrastructure folder
infrastructure

# ignore k8s_token
k8s_token

