# ignore all terraform directories (include hidden) and files
terraform*
.terraform*
*.hcl

# ignore .tfstate files
*.tfstate
*.tfstate.*

# ignore .txt files
*.txt
*.txt.*

# ignore meta directory
meta*

# ignore docker directory
docker*

